<div ng-app="angularApp" ng-controller="shotController">
    <ol>
        <li id="screenshot-2199422" class="group ">
            <div class="dribbble">
                <div class="dribbble-shot">
                    <div class="dribbble-img">
                        <a class="dribbble-link" href="/shots/2199422-Sleeping">
                            <div data-picture="" data-alt="Sleeping">
                                <div data-src="https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2199422/sleeping_teaser.png"></div>
                                <div data-src="https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2199422/sleeping_1x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),
       (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 1.5dppx)"></div>
                                <noscript>
                                    &lt;img alt="Sleeping" src="https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2199422/sleeping_teaser.png" /&gt;
                                </noscript>
                                <img alt="Sleeping" src="https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2199422/sleeping_teaser.png">
                            </div>
                        </a>
                        <a class="dribbble-over" href="/shots/2199422-Sleeping">
                            <strong>Sleeping</strong>
                            <span class="comment"></span>

                            <em class="timestamp">about 8 hours ago</em>
                        </a>
                    </div>

                    <ul class="tools group" style="visibility: visible;">
                        <li class="fav">
                            <a title="View fans of this shot" href="/shots/2199422-Sleeping/fans">494</a>
                        </li>
                        <li class="cmnt">
                            <span original-title="">38</span>
                        </li>
                        <li class="views">
                            <span>2,191</span>
                        </li>
                    </ul>

                </div>
                <div class="extras">
                    <a href="/shots/2199422-Sleeping/rebounds">
                        <span rel="tipsy" class="rebound-mark has-rebounds" original-title="This shot has rebounds.">
                            0
                        </span>
                    </a> <a href="/shots">
                        <span rel="tipsy" class="rebound-mark is-rebound" original-title="This shot is a rebound (reply) of another shot. View the original.">
                            <img width="16" height="16" alt="Rebound" src="https://d13yacurqjgara.cloudfront.net/assets/icon-rebound-2x-a2c5bfb16fad3ea79a9ff5c80fcf15e2.png">
                        </span>
                    </a> <span rel="tipsy" class="attachments-mark" original-title="This shot has attachments">
                        <img width="16" height="16" alt="Attachments" src="https://d13yacurqjgara.cloudfront.net/assets/icon-attach-16-2x-09bed42f07f474e403420377d95f54c8.png">
                    </span>
                </div>

            </div>

            <h2>
                <span class="attribution-user">
                    <a class="url" rel="contact" title="Nick Slater" href="/slaterdesign"><img class="photo" src="https://d13yacurqjgara.cloudfront.net/users/31752/avatars/mini/3207fbd57de3dafb59f2c3fc913460a6.png?1410553460" alt="3207fbd57de3dafb59f2c3fc913460a6"> Nick Slater</a>
                    <a class="badge-link" href="/pro">
                        <span class="badge badge-pro">Pro</span>

                    </a>
                </span>
            </h2>
        </li>
    </ol>
</div>